<!-- sumit.munot@neosofttech.com -->
<div class="outer">
    <div class="inner" [ngClass]="{'filled':filled>=1}">

    </div>
    <div class="inner" [ngClass]="{'filled':filled>=2}">

    </div>
    <div class="inner" [ngClass]="{'filled':filled>=3}">

    </div>
    <div class="inner" [ngClass]="{'filled':filled>=4}">

    </div>
    <div class="inner" [ngClass]="{'filled':filled>=5}">

    </div>
    <div class="inner" [ngClass]="{'filled':filled>=6}">

    </div>
    <div class="inner" [ngClass]="{'filled':filled>=7}">

    </div>
    <div class="inner" [ngClass]="{'filled':filled>=8}">

    </div>
    <div class="inner" [ngClass]="{'filled':filled>=9}">

    </div>
    <div class="inner" [ngClass]="{'filled':filled>=10}">

    </div>



</div>